.box__boy {
    position: relative;
    width: 200px;
    height: 200px;
    margin: 200px;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    font-size: 14px;
    background: rgb(255, 255, 255);
}

.boy {
    position: absolute;
    background: url(../image/image-animation/boy1.png);
    background-repeat: no-repeat;
    width: 160px;
    height: 190px;
    align-self: flex-start;
    transition: 0.1s linear;
}

.box__boy:hover .boy {
    background: url(../image/image-animation/boy2.png);
    background-repeat: no-repeat;
}

.box__boy:active .boy {
    background: url(../image/image-animation/boy3.png);
    background-repeat: no-repeat;
    animation: shake .4s infinite alternate;
}

@keyframes shake {
    0% {
        transform: translate(-4px, 0px);
    }
    100% {
        transform: translate(4px, 0px);
    }
}

.text1,
.text2 {
    position: absolute;
    width: 9em;
    height: 1em;
    font-family: sans-serif;
    font-size: 1em;
    font-weight: bold;
    color: rgb(19, 10, 10);
    margin-left: 100px;
    opacity: 0%;
}

.box__boy:hover .text1 {
    opacity: 100%;
}

.box__boy:active .text2 {
    opacity: 100%;
}

.box__boy:active .text1 {
    opacity: 0%;
}

.brick {
    position: absolute;
    background: url(../image/image-animation/ball.png);
    background-repeat: no-repeat;
    width: 3em;
    height: 4em;
    margin-top: 10em;
    margin-left: 5em;
    opacity: 0%;
    align-self: flex-center;
    transition: 0.3s linear;
}

.box__boy:hover .brick {
    opacity: 100%;
}

.box__boy:active .brick {
    opacity: 100%;
    animation: spin 1s linear;
}

@keyframes spin {
    0% {
        transform: translate(0, 0) rotate(0deg);
    }
    25% {
        transform: translate(10em, -10rem) rotate(180deg);
    }
    50% {
        transform: translate(15em, -15em) rotate(360deg);
    }
    75% {
        transform: translate(20em, -20em) rotate(540deg);
    }
    100% {
        transform: translate(25em, -25em) rotate(720deg);
    }
}