/* --------------------ШАПКА--------------------*/

.header {
    position: fixed;
    width: 100%;
    left: 0;
    top: 0;
    z-index: 50;
    background: #16232B;
}

.header__container {
    display: flex;
    align-items: center;
    min-height: 90px;
    justify-content: space-between;
}

@media (max-width:992px) {
    .header__menu {
        margin: 0px 0px 0px 80px;
    }
}


/*--------ЛОГО------------------------------------------*/

.header__logo {
    font-size: 10px;
    margin: 5em 0;
    height: 0;
    width: 0;
    position: relative;
    border-right: 5em solid transparent;
    border-bottom: 3.5em solid #e9c242;
    border-left: 5em solid transparent;
    transform: rotate(35deg);
    z-index: 5;
}

.header__logo:before,
.header__logo:after {
    content: "";
    height: 0;
    width: 0;
    position: absolute;
}

.header__logo:before {
    top: -2.6em;
    left: -3.2em;
    border-bottom: 4em solid #e9c242;
    border-left: 1.5em solid transparent;
    border-right: 1.5em solid transparent;
    transform: rotate(-35deg);
}

.header__logo:after {
    top: 0.2em;
    left: -5.3em;
    border-right: 5em solid transparent;
    border-bottom: 3.5em solid #e9c242;
    border-left: 5em solid transparent;
    transform: rotate(-70deg);
}


/*--------------------------------------------------------------*/

.menu__link {
    color: #e9c242;
    font-size: 24px;
}

.menu__list {
    display: flex;
    flex-wrap: wrap;
}

.menu__item {
    margin: 0px 40px 0px 0px;
}

.menu__link:hover {
    color: #e27d2a;
}

@media (min-width:767px) {
    .menu__icon {
        display: none;
    }
}

@media (max-width:767px) {
    /*----БУРГЕР-------*/
    .header__container {
        display: flex;
        justify-content: space-between;
    }
    .menu__icon {
        z-index: 5;
        display: block;
        position: relative;
        width: 30px;
        height: 18px;
        cursor: pointer;
    }
    .menu__icon span,
    .menu__icon::before,
    .menu__icon::after {
        left: 0;
        position: absolute;
        height: 10%;
        width: 100%;
        transition: 0.3s ease 0s;
        background-color: #E8B610;
    }
    .menu__icon::before,
    .menu__icon::after {
        content: "";
    }
    .menu__icon::before {
        top: 0;
    }
    .menu__icon::after {
        bottom: 0;
    }
    .menu__icon span {
        top: 50%;
        transform: scale(1) translate(0px -50%);
    }
    .menu__icon._active span {
        opacity: 0%;
    }
    .menu__icon._active::before {
        top: 8px;
        transform: rotate(45deg);
    }
    .menu__icon._active::after {
        transform: rotate(-45deg);
        bottom: 8px;
    }
    /*----------------*/
    .menu__body {
        position: fixed;
        top: 0;
        left: -120%;
        width: 100%;
        height: 100%;
        padding: 100px 0px 0px 0px;
        transition: left 0.3s ease 0s;
        overflow: auto;
        background-color: #16232B;
    }
    .menu__body._active {
        left: 0;
    }
    .menu__list {
        display: flex;
        flex-direction: column;
        margin-top: 50px;
    }
    .menu__list>li {
        margin: 20px 20px 30px 20px;
    }
    .menu__link {
        flex: 1 1 auto;
        font-size: 24px;
    }
    .menu__body::before {
        content: "";
        position: fixed;
        width: 100%;
        top: 0;
        left: 0;
        height: 100px;
    }
    .menu__body.active .menu__list {
        display: block;
    }
}
